<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js"></script>
    <title>404</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>404}}
    </div>
    {{>footer}}
</body>

</html>